#oc-video-container {
    margin: 0 auto;
    width: 754px;
    background-color: white;
    overflow-y: auto;
    max-height: 480px;
}

#oc-video-header {
    text-align: center;
}

#footloose, #signed,
#cant-get {
    width: 300px;
    height: 200px;
}