#navbar {
    background-color: #9a9a9a;
    margin: 0 auto;
    width: 754px;
}

#gnorm-banner {
    margin: 0 auto;
    margin-top: 5%;
}

.active {
    color: white;
}

#home, #livemusic, #instruction, #progear, #shows, #contact {
    color: white;
}