/* #shows-header-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
} */

#shows-subheader, #calendly-link {
    color: black;
}

#shows-container {
    margin: 0 auto;
    width: 52.4%;
    background-color: white;
}