#live-header-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
}

#live-container {
    margin: 0 auto;
    width: 80%;
    background-color: #3d413f;
    margin-bottom: 8.1%;
}

#live-header {
    color: white;
}

#oc-header, #dnr-header, #fed-header, #shell-header {
    color: white;
}