#guytron-header, #guytron-text {
    color: black;
}

#guytron-container {
    margin: 0 auto;
    width: 754px;
    background-color: white;
    overflow-y: auto;
    max-height: 580px;
}

#guytron-link {
    color: #670001;
    text-decoration: underline;
}