body {
    background-image: url(../../assets/images/dark-gradient-background.jpg);
}

/* #home-header-container {
    margin: 0 auto;
    width: 80%;
} */

#home-container {
    margin: 0 auto;
    width: 52.35%;
    background-color: white;
}

#home-subcontainer {
    margin: 0 auto;
}

#guitar-footer {
    margin: 0 auto;
}