#home-header-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
}

#home-container {
    margin: 0 auto;
    width: 80%;
    background-color: #3d413f;
    margin-bottom: 13.2%;
}

#home-subcontainer {
    margin: 0 auto;
}