/* #progear-header-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
} */

#progear-container {
    margin: 0 auto;
    width: 52.4%;
    background-color: white;
    overflow-y: auto;
    max-height: 580px;
}

#progear-header, #progear-subheader {
    color: white;
}