#radian-header, #radian-text {
    color: black;
}

#radian-container {
    margin: 0 auto;
    width: 754px;
    background-color: white;
    overflow-y: auto;
    max-height: 580px;
}

#radian-link {
    color: #670001;
    text-decoration: underline;
}