#george-header, #george-text {
    color: black;
}

#george-container {
    margin: 0 auto;
    width: 754px;
    background-color: white;
    overflow-y: auto;
    max-height: 580px;
}

#george-link {
    color: black;
    text-decoration: underline;
}