#fed-video-container {
    margin: 0 auto;
    width: 754px;
    background-color: white;
    overflow-y: auto;
    max-height: 480px;
}

/* #fed-video-header {
    margin-left: 3%;
} */

#miss-queen, #ziggy-star,
#flirtin, #cant-help {
    width: 300px;
    height: 200px;
}